<%- include("templates/header") %>

<div class='center'>
    <h1> Oops Error 404! </h1>
    <h2> Sorry, we can't find the page you are looking for. </h2>
    <a href='/'> Return to Homepage </a>
</div>

<%- include("templates/footer") %>