<%- include("templates/header") %>
<%- include("templates/navbar") %>

    <div class="container max-width-lg my-5">
        <div class="container mb-5">
            <h3> Here are your baguettes </h3>

            <div class="row">
                <div class="col-md-4 themed-grid-col mb-3"> <img src="/baguette1.jpg" alt="baguette1" class="img-fluid"> </div>
                <div class="col-md-4 themed-grid-col mb-3"> <img src="/baguette2.jpg" alt="baguette2" class="img-fluid"> </div>
                <div class="col-md-4 themed-grid-col mb-3"> <img src="/baguette3.jpg" alt="baguette3" class="img-fluid"> </div>
            </div>
        </div>
    </div>

<%- include("templates/footer") %>