<%- include("templates/header") %>

    <div class='center'>
        <h1> Welcome to the Home Page! </h1>
        <a href='/login'> Login to your Account </a> <br>
        <a href='/signup'> Create an Account </a>
    </div>

<%- include("templates/footer") %>